
@model Movie
<h2>Success!</h2>
<h4>@Model.Title has been added</h4>
<div>
    <p>
        Title: @Model.Title<br />
        Year: @Model.Year<br />
        Genre: @Model.Genre<br />
        Runtime: @Model.Runtime min<br />
    </p>
</div>